@model ApplicationManagement.DbModel.Entry

@{
    ViewData["Title"] = "Details";
}

<h2>মালের বিবরণ</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressOfSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressOfSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionOfProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionOfProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSuppliedProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSuppliedProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuppliedProductUnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuppliedProductUnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuppliedProductTotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuppliedProductTotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalNoOfProductAfterInserted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalNoOfProductAfterInserted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressOfUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressOfUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandnoteNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandnoteNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReceivedProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfReceivedProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalNoOfProductAfterdeduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalNoOfProductAfterdeduction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedTime)
        </dd>
    </dl>
</div>

<div class="btn-group btn-action-group-sm">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    <a asp-action="Index" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-list-alt"></span> Back to List
    </a>
</div>
