@model ApplicationManagement.DbModel.JobCircular

@{
    ViewData["Title"] = "চাকরির বিজ্ঞপ্তি বাতিল";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobCircular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfTotalAvailablePosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfTotalAvailablePosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoticeImageFileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoticeImageFileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifireUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifireUserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
