@model ApplicationManagement.DbModel.JobCircular

@{
    ViewData["Title"] = "চাকরির বিজ্ঞপ্তির বিবরন";
}

<h2>Details</h2>

<div>
    <h4>JobCircular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfTotalAvailablePosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfTotalAvailablePosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoticeImageFileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoticeImageFileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifireUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifireUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
